include LICENSE
include MANIFEST.in
include README.rst
recursive-include newsletter_subscription/static *
recursive-include newsletter_subscription/locale *
recursive-include newsletter_subscription/templates *
