{% extends "base.html" %}
{% load i18n towel_form_tags %}

{% block title %}{% trans "Newsletter" %} - {{ block.super }}{% endblock %}

{% block page-header %}
<div class="page-header">
  <h1>{% trans "Newsletter" %}</h1>
</div>
{% endblock %}

{% block content %}
<form action="." method="post" class="form form-horizontal">
  <p>{% blocktrans %}You successfully subscribed to our newsletter.
  Thanks for filling out the form with additional details.{% endblocktrans %}
  </p>
  {% csrf_token %}
  {% form_errors form %}
  {% form_items form %}

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">
      {% trans "Save" %}</button>
  </div>
</form>
{% endblock %}
